@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@200;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

p {
    font-size: 1.9rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}
/* seção de apresentação */

#presentation{ /* essa seção meche no background da primeira dobra */
    background-color: #000000;
    background-size: cover;
    background-position: top center; 
    position: relative;
    /*z-index: 0;*/
  }
  #presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: white;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5;
  }
  #presentation h1:nth-child(1) {
    animation-delay: .8s;
  }
  #presentation h1:nth-child(2) {
    animation-delay: 1.8s;
  }
  #presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
  }
  
  #presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(243, 64, 9);
    background-color: transparent;
    border: 4px solid rgb(243, 64, 9);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
  }
  #presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: rgb(243, 64, 9);
  }
  #presentation .cta2{
      display: inline-block;
      padding: 10px 30px;
      color: rgb(14, 77, 102);
      background-color: transparent;
      border: 4px solid rgb(14, 77, 102);
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin-top: 20px;
      transition: .3s ease;
      transition-property: background-color, color;
    }
    #presentation .cta2:hover{
      color: white;
      font-weight: 500;
      background-color: rgb(243, 64, 9);
    }
  #presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_review_box 1s ease;
    animation-delay: .5s;
    background-color: rgb(243, 64, 9);
  }
  
  #presentation h1:nth-child(1) span{
    animation-delay: .5s;
  }
  #presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
  }
  #presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
  }
  #presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: -1;
  }

.container {
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
  }

#intro {
    background-image: linear-gradient(80deg, #054f81 25%, #f73a34 100%);
}

#intro .intro {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
}

#intro .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /**margin-top: 6rem;**/
    margin-bottom: 18.2rem;
}

#intro .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 45px auto;
    overflow: hidden;
    border-radius: 10px;
}

#intro .project-info {
    /* essa seção meche no bloco de cada um dos projetos */
    padding: 50px;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #104ec0 0%, #34158a 100%);
    color: white;

}

#intro .project-info h1 {
    font-size: 4.4rem;
    font-weight: 500px;
}

#intro .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#intro .project-info ul,
li {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 10px;
}

#times-info {
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    background-color: #000000;
    border-radius: 10px;
}

#times-info p {
    font-size: 25px ;
    margin-bottom: 25px;
}

#times-info img {
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#mostrar-informacoes {
    font-size: 2.3rem;
    background-color: #3e9909;
    color: white;
    border: none;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#mostrar-informacoes:hover {
    background-color: #ff4800;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para o link de contato no rodapé */
footer a {
    font-size: 1.9rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#footer-toggle {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 auto;
  background-image: linear-gradient(60deg, #3d6bc0 , #5557d4 40%, #3292b8 );
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}
.footer-menu {
  width: 30%;
  display: flex;
  margin: 45px auto;
  overflow: hidden;
  background-image: linear-gradient(60deg, #3d6bc0 , #5557d4 40%, #3292b8 );
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 6px;
}